In [10]:
import pandas as pd

In [1]:
from db.core import db_to_csv
db_to_csv()

2026-02-12 00:53:09.565 | INFO     | db.core:db_to_csv:67 - Таблица gold_cost экспортирована в CSV.
2026-02-12 00:53:09.626 | INFO     | db.core:db_to_csv:67 - Таблица sliver_cost экспортирована в CSV.
2026-02-12 00:53:09.681 | INFO     | db.core:db_to_csv:67 - Таблица copper_cost экспортирована в CSV.
2026-02-12 00:53:09.794 | INFO     | db.core:db_to_csv:67 - Таблица gold_news экспортирована в CSV.
2026-02-12 00:53:09.825 | INFO     | db.core:db_to_csv:67 - Таблица sliver_news экспортирована в CSV.
2026-02-12 00:53:09.861 | INFO     | db.core:db_to_csv:67 - Таблица copper_news экспортирована в CSV.

In [2]:
df_gold_news = pd.read_csv('data/gold_news.csv')
df_gold_news.date = pd.to_datetime(df_gold_news.date)
df_gold_news.head()

,id,title,description,full_text,date,url
0,1,Золото стабилизируется после драматичных колеб...,Цены на золото в среду стабилизируются после м...,Цены на золото в среду стабилизируются после м...,2026-02-04 19:08:00,https://www.finversia.ru/publication/zoloto-st...
1,2,Золото рвётся вверх после обвала и показывает ...,Цены на золото и серебро во вторник резко разв...,Цены на золото и серебро во вторник резко разв...,2026-02-03 19:11:00,https://www.finversia.ru/publication/zoloto-rv...
2,3,Евгений Коган: Пора брать драгметаллы?,Покупать ли сейчас золото и серебро?,Покупать ли сейчас золото и серебро? За послед...,2026-02-02 19:35:00,https://www.finversia.ru/obsor/blogs/evgenii-k...
3,4,Золото и серебро в турбулентности после рекорд...,Цены на золото и серебро в понедельник колеблю...,Цены на золото и серебро в понедельник колеблю...,2026-02-02 19:12:00,https://www.finversia.ru/publication/zoloto-i-...
4,5,Золото и серебро рухнули — «ястребиный» кандид...,Цены на золото и серебро в пятницу обвалились ...,Цены на золото и серебро в пятницу обвалились ...,2026-01-30 19:12:00,https://www.finversia.ru/publication/zoloto-i-...

In [3]:
df_gold_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           356 non-null    int64
 1   title        356 non-null    object
 2   description  356 non-null    object
 3   full_text    356 non-null    object
 4   date         356 non-null    datetime64[ns]
 5   url          356 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 16.8+ KB

In [4]:
df_gold_cost = pd.read_csv('data/gold_cost.csv')
df_gold_cost.date = pd.to_datetime(df_gold_news.date)
df_gold_cost.head()

                 date    open    high     low   close
0 2026-02-04 19:08:00  2774.5  2781.5  2774.5  2781.5
1 2026-02-03 19:11:00  2773.0  2777.0  2773.0  2777.0
2 2026-02-02 19:35:00  2780.5  2784.5  2774.5  2784.5
3 2026-02-02 19:12:00  2769.0  2769.0  2759.5  2763.0
4 2026-01-30 19:12:00  2773.5  2773.5  2761.0  2761.0

In [5]:
df_gold_cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751 entries, 0 to 1750
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    356 non-null    datetime64[ns]
 1   open    1751 non-null   float64
 2   high    1751 non-null   float64
 3   low     1751 non-null   float64
 4   close   1751 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 68.5 KB

In [16]:
def tonality(df_news, df_cost) -> pd.DataFrame:
    tonality_dict = {}
    for idx, row in df_cost.iterrows():
        tonality_dict[row['date']] = 1 if row['open'] < row['close'] else -1
    df_news['tonality'] = df_news['date'].map(tonality_dict)

    return df_news

tonality(df_gold_news,df_gold_cost)

,id,title,description,full_text,date,url,tonality
0,1,Золото стабилизируется после драматичных колеб...,Цены на золото в среду стабилизируются после м...,Цены на золото в среду стабилизируются после м...,2026-02-04 19:08:00,https://www.finversia.ru/publication/zoloto-st...,1
1,2,Золото рвётся вверх после обвала и показывает ...,Цены на золото и серебро во вторник резко разв...,Цены на золото и серебро во вторник резко разв...,2026-02-03 19:11:00,https://www.finversia.ru/publication/zoloto-rv...,1
2,3,Евгений Коган: Пора брать драгметаллы?,Покупать ли сейчас золото и серебро?,Покупать ли сейчас золото и серебро? За послед...,2026-02-02 19:35:00,https://www.finversia.ru/obsor/blogs/evgenii-k...,1
3,4,Золото и серебро в турбулентности после рекорд...,Цены на золото и серебро в понедельник колеблю...,Цены на золото и серебро в понедельник колеблю...,2026-02-02 19:12:00,https://www.finversia.ru/publication/zoloto-i-...,-1
4,5,Золото и серебро рухнули — «ястребиный» кандид...,Цены на золото и серебро в пятницу обвалились ...,Цены на золото и серебро в пятницу обвалились ...,2026-01-30 19:12:00,https://www.finversia.ru/publication/zoloto-i-...,-1
...,...,...,...,...,...,...,...
351,352,Импорт золота в Индию и КНР резко вырос по сра...,Спрос на золото резко возрос весной нынешнего ...,Спрос на золото резко возрос весной нынешнего ...,2021-04-09 10:25:00,https://www.finversia.ru/publication/import-zo...,-1
352,353,Виктор Тунёв: ГМК Норникель и Полюс Золото,Рынок ждёт от ГМК оценки потерь от остановки р...,Рынок ждёт от ГМК оценки потерь от остановки р...,2021-03-09 20:52:00,https://www.finversia.ru/obsor/blogs/viktor-tu...,1
353,354,Российские финансы: обзор важнейших событий фе...,"Банк России готовит повышение ставок, которое ...","Банк России готовит повышение ставок, которое ...",2021-03-05 09:00:00,https://www.finversia.ru/publication/rossiiski...,1
354,355,Tesla собирается инвестировать в золото,Инвесторы активно обсуждают сделку Tesla по по...,Инвесторы активно обсуждают сделку Tesla по по...,2021-02-12 18:45:00,https://www.finversia.ru/news/press-release/te...,1
355,356,МКБ начал продажу инвестиционных монет «Георги...,Московский кредитный банк (МКБ) запустил про...,Московский кредитный банк (МКБ) запустил про...,2021-02-11 15:19:00,https://www.finversia.ru/news/press-release/mk...,-1